
@{
    ViewBag.Title = "Grave";
}

<div style="height:50px;"></div>
<h2 style="text-align:center;">RECOMENDACIONES</h2>
<p style="text-align:justify;">
    <strong>@ViewData["nombre"]</strong>, en caso de presentar síntomas, el primer paso es la
    atención medica y el aviso a tu sitio de trabajo y seguir las siguientes recomendaciones:
</p>
<div style="height:10px"></div>
<p style="text-align:justify">
    Si alguien presenta alguno de estos signos, busque atención de servicios médicos de
    emergencia de inmediato.
    <ol>
        <li>
            Llame al 911 o llame antes a su centro de emergencias local: notifique al operador que
            necesita atención para alguien que tiene o podría tener COVID-19.
        </li>
    </ol>
    Llame antes de ir al médico
    <ol>
        <li>
            Muchas visitas médicas de rutina se están posponiendo o realizando
            por teléfono o telemedicina.
        </li>
        <li>
            Si tiene una cita médica que no puede posponer, llame al consultorio de su médico e
            infórmeles que tiene o podría tener COVID-19. Esto ayudará al personal del consultorio
            a protegerse y proteger a otros pacientes.
        </li>
    </ol>

</p>
<div style="height:10px"></div>

<div>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index","Home")'">SALIR</button>
</div>