
@{
    ViewBag.Title = "PositivoRecom";
}
<div style="height:50px;"></div>
<h2 style="text-align:center;">RECOMENDACIONES</h2>
<style>
    p {
        text-align: justify;
    }
</style>
<br />
<p>
    ¡Hola <strong>@ViewData["Nombre"]</strong>! Te recomendamos seguir las siguientes Indicaciones.
</p>
<p>
    El aislamiento es la medida que se adopta para separar a las personas
    infectadas por SARS-CoV-2, el virus que causa el COVID-19, de otras personas
    que no están infectadas.
</p>
<p>
    Las personas en aislamiento deben quedarse en sus casas hasta que sea seguro
    estar en contacto con otras personas. En el hogar, cualquier persona enferma o
    infectada debe separarse de las demás personas y permanecer en una habitación
    o área específica "para enfermos" y usar un baño separado (si está disponible).
</p>
<p>
    <strong>
        ¿Quiénes deben aislarse?
    </strong>
</p>
<p>
    Las personas en aislamiento deben quedarse en sus casas hasta que sea seguro
    estar en contacto con otras personas. En el hogar, cualquier persona enferma o
    infectada debe separarse de las demás personas y permanecer en una habitación o
    área específica "para enfermos" y usar un baño separado (si está disponible).
</p>
<ul>
    <li>
        Las personas que tienen COVID-19
    </li>
    <li>
        Las personas que tienen síntomas del COVID-19 y pueden recuperarse en sus casas
    </li>
    <li>
        Las personas que no tienen síntomas (son asintomáticas), pero dieron positivo
        en la prueba de detección de infección por SARS-CoV-2
    </li>
</ul>
<p>
    <strong>
        Medidas que hay que tomar
    </strong>
</p>
<p>
    Quédese en casa, excepto para conseguir atención médica
</p>
<ul>
    <li>
        Permanezca en una habitación separada del resto de los miembros del hogar, si es posible
    </li>
    <li>
        Use un baño separado, si es posible
    </li>
    <li>
        Evite tener contacto con otros miembros del hogar y con las mascotas<
    </li>
    <li>
        No comparta los artículos del hogar de uso personal como tazas, toallas y utensilios
    </li>
    <li>
        Use cubrebocas cuando tenga que interactuar con otra personas
    </li>
    <li>
        Monitoree sus síntomas diariamente  por medio de esta aplicación por 14 días a partir de su aislamiento.
    </li>

</ul>
<div style="height:10px;"></div>
<div style="text-align:center;">
    <img src="~/Content/Imagen1.png" height="300"/>
</div>
<div style="height:10px;"></div>
<p>
    <strong>
        IMPORTANTE: Si tiene algún signo de advertencia de emergencia (como dificultad para respirar),
        busque atención de servicios médicos de emergencia de inmediato.
    </strong>
</p>
<div style="height:10px;"></div>

<p style="text-align:justify; color:orangered; font-weight:bold;">
    En caso de no seguir el protocolo, omitir o mentir con la información proporcionada,  la empresa esta facultada para la recisión inmediata del contrato sin responsabilidad por parte de la empresa.
    <br />
</p>
<div style="height:10px"></div>
<p style="text-align:justify; font-weight:bold;">
    <strong>Referencias</strong>
    <br />
</p>

<p>
    <a href="https://espanol.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/quarantine.html" target="_blank">
        espanol.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/quarantine.html
    </a> 
</p>

<div style="text-align:center;">
    <img src="~/Content/NivelesOxigeno.png" />
</div>

<div style="height:10px"></div>

<div>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index","Home")'">SALIR</button>
</div>